<div
  class="card w-full bg-base-100 rounded duration-500 hover:shadow-xl hover:scale-105"
>
  <figure>
    <img
      [src]="product?.thumbnail"
      alt="Shoes"
      class="h-60 w-full object-cover"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {{ product?.category }}
      <div class="badge badge-secondary">
        {{ product?.discountPercentage }}%
      </div>
    </h2>
    <p>{{ product?.title }}</p>
    <p class='mt-2 font-bold text-lg'>{{ product?.price | currency:'R' }}</p>
    <div class="card-actions flex justify-between items-center mt-2">
      <div class="badge badge-outline">{{ product?.brand }}</div>

      <div class="flex gap-4">
        <i class="bi bi-eye"></i>
        <i class="bi bi-cart-plus" (click)="addToCard()"></i>
      </div>
    </div>
  </div>
</div>
